<ion-view view-title="Contact">
  <ion-content>
   <div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-person"></i>
    Rajasekar T - Hybrid App Developer, Capgemini
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    8197550202
  </div>

  <a href="mailto:kt.rajasekar@gmail.com" class="item item-icon-left">
    <i class="icon ion-email"></i>
    kt.rajasekar@gmail.com
  </a>

  <a href="http://www.flashbulb.in" class="item item-icon-left">
    <i class="icon ion-android-laptop"></i>
    www.flashbulb.in
  </a>

</div>
  </ion-content>
</ion-view>