/* Empty. Add your own CSS if you like */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.Whitecolor {
    color: #fff !important;
}

.iconsMenu .icon {
    font-size: 24px;
    color: #ccc;
    padding-right: 5px;
}

.bar-reded {
    border-color: #E84952;
    background-color: #E84952;
    color: #fff;
}


/* --------- Home page Styles ----------- */

.homeTheme {
    margin: 10px 0;
}

.homeTheme h3 {
    font-size: 20px;
}

.iconsMenu {
    background: #444444 !important;
}

.iconsMenu .item-complex .item-content,
.iconsMenu .item-radio .item-content {
    background: #444 !important;
    color: #fff;
}

.profilePhoto {
    padding: 20px;
    background: #444 !important;
}

.profilePhoto img {
    border-radius: 50%;
    padding: 2px;
    width: 90px;
    height: 90px;
    border: #ccc 1px solid;
}

.profileTxt {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
}